/* Setting Layer */

/* black */
$black: #000;

/* grey */
$grey: #808080;

/* white */
$white: #fff;

/* blue */
$blue-sapphire-glitter: #003cc7;

/* green */
$secret-garden: #13ac6c;

/* red */
$red-communist: #c70000;
